html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.navbar {
  background-color: #000000;
  padding: 29.5px 0;
}

.navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_item {
  margin-right: 4vw;
}

.navbar_link {
  font-size: 16px;
  color: #8D81AC;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.navbar_link:hover {
  color: #FFFFFF;
}

.navbar_btn {
  background: #8D81AC;
  font-weight: 700;
  padding: 10px 33px;
  border: 1px solid #8D81AC;
}

.navbar_btn:hover {
  background: #FFFFFF;
  border: 1px solid #8D81AC;
  color: #8D81AC;
}

.logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 164px;
}

.logo_img {
  width: 43px;
  height: 41px;
  background: url(../../img/logo/logo.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.logo_img:hover {
  background: url(../../img/logo/logo-hover.svg) no-repeat center;
  background-size: cover;
}

.logo_text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #8D81AC;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.logo_text:hover {
  color: #FFFFFF;
}

.burger_toggle {
  margin-top: 8px;
}

.burger_icon {
  height: 3px;
  width: 26px;
  border-radius: 5px;
  margin-bottom: 7px;
  background-color: #FFFFFF;
}

.line1 {
  width: 20px;
  position: relative;
  right: -2px;
}

@media only screen and (max-width: 992px) and (min-width: 481px) {
  .navbar {
    padding: 22px 0 55px 0;
  }
  .navbar_list {
    position: absolute;
    right: -30px;
    top: 82px;
    left: 0;
  }
  .navbar_item {
    margin-right: 7vw;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 300px;
  }
  .logo {
    width: 43px;
    height: 41px;
  }
  .logo_text {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .navbar_container {
    width: 66vw;
  }
  .navbar_list {
    display: block;
    position: absolute;
    top: 102px;
    right: 2px;
  }
  .navbar_list_active {
    display: none;
  }
  .navbar_link {
    display: inline-block;
    padding-top: 28px;
    padding-left: 36px;
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 300;
    border-bottom: 1px solid gray;
    width: 254px;
    height: 55px;
    background-color: black;
  }
  .navbar_link:hover {
    color: #8D81AC;
  }
  .navbar_item {
    position: relative;
  }
  .navbar_item:hover {
    color: #8D81AC;
  }
  .navbar_item:hover::before, .navbar_item:active::before {
    content: '';
    display: block;
    top: 14px;
    position: absolute;
    height: 54px;
    width: 8px;
    background-color: #8D81AC;
  }
  .burger_toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burger_toggle.open .line1 {
    -webkit-transform: rotate(45deg) translate(4px, 9px);
            transform: rotate(45deg) translate(4px, 9px);
    width: 26px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  .burger_toggle.open .line3 {
    -webkit-transform: rotate(-45deg) translate(7px, -9px);
            transform: rotate(-45deg) translate(7px, -9px);
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  .burger_toggle.open .line2 {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-sizing: none;
            box-sizing: none;
  }
}

.hero {
  background: url(../../img/header/background.png) no-repeat center;
  background-size: cover;
  padding-top: 68px;
  padding-bottom: 487px;
}

.hero_slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_slogan_title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 82px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero_slogan_subtitle {
  font-family: "Lato", sans-serif;
  color: #8D81AC;
  padding: 19px 0;
  text-align: center;
  font-size: 24px;
}

.hero_slogan_version {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #848E97;
}

.hero_btn {
  padding-bottom: 70px;
}

.btn_section {
  max-width: 913px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn_download {
  position: relative;
  background-color: #8D81AC;
  border: 1px solid #8D81AC;
  bottom: 36px;
  padding: 23px 63px;
  font-size: 21px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 50px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.btn_download:hover {
  background-color: #FFFFFF;
  border: 1px solid #8D81AC;
  color: #8D81AC;
}

.btn_download_description {
  margin-top: -20px;
  font-size: 14px;
  font-weight: 400;
  color: #848E97;
}

@media only screen and (max-width: 480px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 424px;
  }
  .hero_slogan_title {
    font-size: 48px;
  }
  .hero_slogan_subtitle {
    width: 298px;
    height: 52px;
    font-size: 18px;
  }
  .hero_slogan_version {
    width: 267px;
    height: 15px;
    font-size: 14px;
  }
  .btn_download {
    font-size: 16px;
    bottom: 26px;
    padding: 12px 37px;
    text-align: center;
  }
  .btn_download__description {
    margin-top: -12px;
  }
}
/*# sourceMappingURL=style.css.map */