
.bg_section{
  background: url("../img/people-talk/background.png") no-repeat center;
  background-size:cover;
}

.feedback {
  padding-top: 98px;
  padding-bottom: 30px;
  margin: 0 auto;

  &_title{
    color:$light;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
  }

  &_row {
    justify-content: space-between;
  }

  &_column {
    margin-top: 100px;
    flex: 0 0 26%;

    &_img{
      display: flex;
      align-items:center;
      justify-content: center;
      height: 65px;
      margin-bottom: 30px;
    }
    &_description{
      @include Lato;
      font-style: italic;
      font-weight: 700;
      text-align: center;
      font-size: 14px;
      color:$light;
    }
  }

  &_text{
    @include Lato;
    margin: 0 auto;
    padding-top: 118px;
    text-align: center;
    font-size: 14px;
    color: $light_grey;
    width: 80%;

    &::after{
      content: '';
      display: block;
      transform: translate(50% -50%);
      position: relative;
      left: 50px;
      margin-top: 15px;
      height: 2px;
      width: 88%;
      background-color: #8c7b8f;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 992px) and (min-width: 481px){
  .feedback {

    &_text::after{
      width: 100%;
      left: 0;
    }

    &_title{
      font-size: 43px;
    }
    &_column{
      flex: 0 0 45%;
    }
  }
}

@media only screen and (max-width: 480px){
  .feedback {

    &::after{
      content:" ";
      display: block;
      position: relative;
      height: 2px;
      width: 90%;
      bottom: -12px;
      left: 5%;
      background-color: $main_purple;
    }


    &_row {
      justify-content: center;
    }

    &_column{
      flex: 0 0 85%;
      margin-top: 40px;
    }

    &_title{
      font-size: 38px;
      line-height: 55px;
    }

    &_text{
      display: none;
    }
  }
}